<header>
  <nav class="navbar">
    <div class="container">
      <div class="logo">
        <a href="/">
          <h1>MixTrip</h1>
        </a>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/trips">Explore</a></li>
        <!-- More navigation links will be added in future phases -->
      </ul>
    </div>
  </nav>
</header>